* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s;
    gap: 10px;
}
.header__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__item {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
}

.header__item:nth-child(2) {
    background-color: white;
}

.header__item:last-child {
    padding: 10px 0px;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #512da8;
    border-radius: 50%;
    color: white;
}
.main__screen {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#todo-form {
    width: 600px;
    display: flex;
}
#login-input {
    padding: 0 1em;
    border: 1px solid gainsboro;
    height: 38px;
    border-radius: 30px;
}

#login-input:hover {
    outline: none;
    border-color: gainsboro;
    box-shadow: 0 0 10px gainsboro;
}
#login-input:focus {
    outline: none;
    border-color: gainsboro;
    box-shadow: 0 0 10px gainsboro;
}
.main__screen-search {
    padding: 0 1em;
    border: 1px solid gainsboro;
    height: 38px;
    border-radius: 30px;
}
.main__screen-search:hover {
    outline: none;
    border-color: gainsboro;
    box-shadow: 0 0 10px gainsboro;
}
.main__screen-search:focus {
    outline: none;
    border-color: gainsboro;
    box-shadow: 0 0 10px gainsboro;
}
.main__screen-button {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
#todo-bar {
    width: 100%;
}
#add-button {
    width: min-content;
}
.button-search {
    border: none;
    font-size: 14px;
    padding: 8px 13px;
    background-color: #f8f9fa;
    color: #202124;
    border-radius: 5px;
    margin-right: 15px;
}
.input[type="button"] {
    background-color: transparent;
    border: none;
}

.search-language {
    color: #5c739b;
}
.google__offered {
    font-size: 18px;
}

.hidden {
    display: none;
}

.dark-mode {
    background-color: #202124;
    color: white;
    transition: background-color 0.3s;
}

#todo-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 200px;
    font-size: 24px;
}

.toDoList {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toggleSwitch {
    width: 75px;
    height: 38px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
    margin: 30px;
}

.toggleSwitch .toggleButton {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #512da8;
}

#toggle:checked ~ .toggleSwitch {
    background: #512da8;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 38px);
    background: #fff;
}

.toggleSwitch,
.toggleButton {
    transition: all 0.2s ease-in;
}
